@import 
"sass/theme",
"sass/typography",
"sass/buttons",
"sass/icons"
;

@import 
"panel/panel",
"addCarForm/addCarForm",
"carCount/carCount",
"carDisplay/carDisplay",
"carPage/carPage",
"footer/footer",
"header/header",
"home/home",
"login/login",
"modulecarDisplaybutton/modulecarDisplaybutton",
"navigation/navigation",
"searchBox/searchBox",
"manage/manage"
;

/* CSS declarations go here */
* {
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease;
  -webkit-font-smoothing: antialiased;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

html, body{
	padding: 0;
	margin: 0;
	color: $grey-light;
	background-color: $neutral-dark;
	height: 100%;
  min-width: 320px;
}

.module-title{
	font-family: $headline-font;
  color: $red;
}

.module{
	display: block;
	width: 100%;
	overflow: hidden;
	height: auto;
}
.module.centered{
	text-align: center;
}

main{
	max-width: 960px;
	min-width: 320px;
  min-height: 100vh;
	margin: 0 auto;
	padding: 0;
}

.inner-wrap{
	margin: 0 auto;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
}

.page-component{
	padding-bottom: 48px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

hr{
    height: 1px;
    border: 1px solid $neutral-dark;
    border-radius: 3px;
}