article.search-area input[type="text"]{
	border: none;
	background: $flatblue;
	color: $cement;
	font-size: 16px;
	width: 100%;
	margin: 16px auto 0 auto;
	display: block;
	padding: 12px;
	text-transform: uppercase;
}

article.search-area input::-webkit-input-placeholder,
input[placeholder]{
	font-family: $body-font;
	text-transform: inherit;
	color: white;
}
article.search-area input:focus{
	color: $cement !important;
}

article.search-area ul,
div.no-results,
div.loading{
	max-width: 400px;
	margin: 0 auto;
	display: block;
	padding: 0;
	background: $flatblue;
}

	article.search-area ul li{
		list-style-type: none;
		padding: 12px;
		font-size: 16px;

		&:nth-of-type(odd){
			background-color: darken($flatblue, 5%);
		}

		&:hover{
			background-color: darken($flatblue, 10%);
		}

		a{
			text-decoration: none;
			color: inherit;
			display: block;
		}
	}
	article.search-area ul li{
		font-family: $headline-font;
		span{
			text-transform: uppercase;
		}
	}

article.search-area .no-results,
article.search-area .loading{
	padding: 12px;
	font-size: 24px;
	text-align: center;
}

@media all and (min-width: 460px){
	article.search-area input[type="text"]{
		width: 400px;
	}
	.page-component.search-area{
		ul{
			width: 400px;
		}
	}
}
