/* CSS declarations go here */
* {
	box-sizing: border-box;
}
:focus{
	background: yellow !important;
	color: black !important;
}
html{
	font-family: sans-serif;
}

html, body{
	padding: 0;
	margin: 0;
}

main{
	max-width: 460px;
	min-width: 320px;
	margin: 0 auto;
	background: #F2F2F2;
	padding: 16px;
}

main > h1{
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
}

article.search-area{
	background: white;
	width: 100%;
	padding: 16px;
}

	article.search-area h1{
		text-align: center;
	}

	article.search-area input[type="text"]{
		border: 1px solid #ccc;
		background: white;
		font-size: 24px;
		width: 80%;
		margin: 0 auto;
		display: block;
		padding: 12px;
		text-transform: uppercase;
	}

	article.search-area input[placeholder]{
		text-transform: inherit;
	}

	article.search-area ul,
	div.no-results,
	div.loading{
		width: 80%;
		margin: 0 auto;
		display: block;
		padding: 0;
	}

		article.search-area ul li{
			list-style-type: none;
			padding: 12px;
			font-size: 16px;
			font-family: monospace;
		}

	article.search-area .no-results,
	article.search-area .loading{
		padding: 12px;
		font-size: 24px;
		text-align: center;
	}

	article.search-area ul li:nth-child(odd){
		background: #f2f2f2;
	}

tbody tr:nth-of-type(even){
	background: #F2F2F2;
}
tbody tr:nth-of-type(odd){
	background: #e2e2e2;
}

td, th{
	padding: 5px;
}

form{
	margin-top: 24px;
}
input[type="text]{
	display: block;
	border: red 2px solid;
}

.car-count h1{
	text-align: center;
}

.car-count h1 span{
	display: block;
	font-size: 80px;
}