/* CSS declarations go here */
html{
	font-family: sans-serif;
}

tbody tr:nth-of-type(even){
	background: #F2F2F2;
}
tbody tr:nth-of-type(odd){
	background: #e2e2e2;
}

td, th{
	padding: 5px;
}

form{
	margin-top: 24px;
}
input[type="text]{
	display: block;
	border: red 2px solid;
}