.add-car-wrap{
	/*background: $dijon;*/
	color: $cement;
	width: 100%;
	padding: 16px 0 60px 0;
	max-width: 460px;
	min-width: 320px;
	margin: 0 auto;

	.module-title{
		color: $reddawn;
	}
}
form.add-car-form{
	margin: 16px 0 0 0;
	padding: 0;
}
form.add-car-form fieldset{
	/*background: $reddawn;*/
	border: none;
	padding: 4px;
}

form.add-car-form {
	input, textarea{
		border: none;
		background: $blanco;
		color: $bluestone;
		font-size: 16px;
		display: inline-block;
		padding: 12px;
	}
}

// .add-car-form button.button{
// 	display: block;
// 	width: 45%;
// 	margin: 16px auto 0 auto;
// 	background: $green-gradient;
// 	color: white;
// 	@include button-shadow-on-color(rgba(0,0,0,.5));
// 	font-family: $headline-font;
// }

.dc-wrap{
	float: left;
	margin: 1%;
}

	.dc-wrap label{
		display: block;
		// color: $bluestone;
	}

	.dc-wrap input,
	.dc-wrap textarea{
		display: block;
		width: 100%;
	}

.add-car-form-h3{ 
	margin-top: 16px; 
	width: 100%;
	text-align: center;
	color: $reddawn;
}

.full-width{ width: 98%; }

.half-width{
	width: 48%;
}

.thirty-width{
	width: 32%;
}

.seventy-width{
	width: 64%;
}

.thirds-width{
	width: 31.333%;
}