.add-car-wrap{
	width: 100%;
	padding: 16px 16px 60px 16px;
	max-width: 460px;
	min-width: 320px;
	margin: 0 auto;

	h1{
		color: $red;	
	}
}
form.add-car-form{
	margin: 16px 0 0 0;
	padding: 0;
}
form.add-car-form fieldset{
	background: $neutral;
	color: $yellow-light;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.14), 0 0 18px 0 rgba(0,0,0,0.12), 0 0 5px -1px rgba(0,0,0,0.3);
	display: flex;
	border: none;
	padding: 16px;
	border-radius: 5px;
}

form.add-car-form {
	input, textarea{
		border: none;
		background: lighten($neutral-light, 40%);
		color: $neutral;
		font-weight: 700;
		font-size: 14px;
		padding: 12px;
		margin-bottom: 21px;
		border-radius: 3px;
	}
}
	.dc-wrap label{
		display: block;
		color: $yellow-light;
	}

	.dc-wrap input,
	.dc-wrap textarea{
		display: block;
		width: 100%;
	}
form i{
	display: block;
	float: left;
	width: 24px;
	height: 24px;
}