.add-car-wrap{
	/*background: #DEC956;*/
	color: #f2f2f2;
	width: 100%;
	padding: 16px 0 0 0;
	max-width: 460px;
	min-width: 320px;
	margin: 0 auto;
}
form.add-car-form{
	margin: 16px 0 0 0;
	padding: 0;
}
form.add-car-form fieldset{
	/*background: #FF646A;*/
	border: none;
	padding: 4px;
}

form.add-car-form {
	input, textarea{
		border: none;
		background: #FFF;
		color: #3E4651;
		font-size: 16px;
		display: inline-block;
		padding: 12px;
	}
}

.add-car-form button.button{
	display: block;
	width: 45%;
	margin: 16px auto 0 auto;
	background: #FF646A;
	color: white;
}

.dc-wrap{
	float: left;
	margin: 1%;
}

	.dc-wrap label{
		display: block;
		color: #3E4651;
	}

	.dc-wrap input,
	.dc-wrap textarea{
		display: block;
		width: 100%;
	}

.add-car-form-h3{ 
	margin-top: 16px; 
	width: 100%;
	text-align: center;
}

.full-width{ width: 98%; }

.half-width{
	width: 48%;
}

.thirty-width{
	width: 32%;
}

.seventy-width{
	width: 64%;
}

.thirds-width{
	width: 31.333%;
}

@media all and (max-width: 600px){
	form.add-car-form fieldset{
		background: #FF646A;
	}
}
@media all and (min-width: 600px){
	.dc-wrap label{
		color: #DEC956;
	}
}