.home-wrap{
	padding: 16px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;  
    flex-flow: row wrap;
    align-items: flex-start;
    
    .home-collection-number{
        span{
            color: $red-light;
        }
        p{
            color: $yellow-light;
        }
    }
    .home-man-types{
        span{
            color: $flatblue;
        }
        p{
            color: $yellow-light;
        }
    }
    .home-activity{
        span{
            color: $yellow-light;
        }
        p{
            color: $red-light;
        }
    }
    hr{
        height: 1px;
        border: 1px solid $neutral-dark;
        border-radius: 3px;
    }
    section{
        background: $neutral;
        border-radius: 3px;
        padding: 16px;
        margin: 16px 0;
        box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
        text-align: center;
        
        .number{
            font-family: $headline-font;
            font-size: 50px;
            display: block;
            text-align: center;
        }
        span{
            font-weight: 700;
        }
        
    }
    .home-man-types{        
        display: flex;
        justify-content: space-around;  
        flex-flow: row wrap;
        align-items: flex-start;
        div{
            padding: 0 16px ;
        }
    }

    // $colors: $red-light, $flatblue, $yellow-light;
    // @for $i from 1 through length($colors) {
    //     section:nth-child(#{length($colors)}n+#{$i}) {
    //         color: nth($colors, $i)
    //     }
    // }
}