button.button{
	border: none;
	outline: none;
}

.button{
	font: 16px/1.2 $body-font;
	background: $red-light;
	color: $neutral;
	padding: 1em 4em;
	text-decoration: none;
	display: inline-block;
	border-radius: 60px;
	text-transform: uppercase;
}

#login-buttons a{
	text-decoration: none;
}

.full-car-wrapper .login-link-text{
	@extend .button;
	text-decoration: none;
}