/*=====
Colours
======*/
$dijon: 			#DEC956;
$bluestone: 		#3E4651;
$reddawn: 			#FF646A;
$flatblue:			#2C82C9;
$envygreen:			#27c667;
$cement:			#F2F1EF;
$blanco: 			#ECF0F1;

$dijon-rgb: 		rgb(222,201,86);
$bluestone-rgb: 	rgb(62,70,81);
$reddawn-rgb: 		rgb(255,100,106);
$flatblue-rgb:		rgb(44,130,201);
$envygreen-rgb:		rgb(39,198,103);
$cement-rgb:		rgb(242,241,239);
$blanco-rgb:		rgb(236,240,241);