.mask{
    display: none;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;

    &.is-active{
        display: block;
        position: fixed;
        background: rgba(0,0,0,1);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9998;
        opacity: 0.8;
   }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.8;
        }
    }
}
body.no-scroll{
    overflow: hidden;
}
.panel {
    background: $neutral-light;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    color: red;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    z-index: 9999;
    margin: 0;
    transition-duration: 0.3s ease;
    border-top: 5px solid $neutral;
    color: $neutral;

	.panel-header{
		height: 55px;
		background: $neutral-light;
		padding: 0 10px;
		border-bottom: 1px solid $neutral;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
		
        .icon{
			display: block;
			width: 24px;
			height: 24px;
		}
	}

    ul {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
        li {
        	height: 50px;
        	&:hover{
        		a{
        			background-color: $yellow-light;
        			color: $neutral;
        		}
        	}
            a {
            	display: block;	
            	height: 100%;
            	line-height: 50px;
            	vertical-align: middle;
            	padding: 0 0 0 10px;
            	i{
            		display: inline-block;
            		float: left;
            		background-position: center;
            		width: 24px;
            		height: 50px;
            		margin: 0 10px 0 0 ;
            	}
                text-decoration: none;
                color: $yellow;
            }
            &.divider{
            	border-top: 1px solid $neutral;
            }
        }
    }
}

.panel.is-active {
    right: 0;
}
