.car-count{
	background-color: $neutral-light;
	border-radius: 5px;
	color: $yellow;
  text-align: center;
  padding: 3px 6px 3px 3px;
  font-size: 1em;
  text-decoration: none;
  max-width: 130px;
  line-height: 21px;

  span{
    border-radius: 100px;
    background-color: $neutral;
    padding: 1px 6px;
  }
}