header{
	background: $dijon;
	width: 100%;
	height: 60px;
	overflow: visible;
}
header::after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 0px 0 160px;
	border-color: $dijon transparent transparent transparent;
	top: 60px;
	right: 0;
	position: absolute;
	z-index: 9999;
}

header,
header a{
	color: $bluestone;	
}
h1.site-heading{
	font-style: italic;
	float: left;
	padding: 0 0 0 16px;
	margin: 0;
	padding: 16px 0;
	font-size: 20px;
	display: inline-block;
	small{
		font-size: 0.5em;
	}
}
h1.site-heading a{
	padding: 16px;
	text-decoration: none;
}
@media all and (min-width: 600px){
	header::after{
		content: '';
		display: none;
	}
}