.home-nav{
	max-width: 460px;
	min-width: 320px;
	margin: 0 auto;
	height: 40%;
	overflow: auto;
	background: orange;
}

.home-nav a{
	display: block;
	width: 50%;
	height: 220px;
	float: left;
	text-decoration: none;
	text-align: center;
	font-style: italic;
	color: white;
	padding-top: 60px;
}

.home-nav a:last-child{
	background: #2C82C9;
}