.mcdb-outer-wrap{
	width: 100%;
	overflow: visible;
	height: 100vh;
	// background-color: $reddawn;
	position: relative;
}
.full-car-wrapper{
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	position: relative;
	overflow: visible !important; 
	// background-image: ;
	background: linear-gradient(rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0)),
	url('https://68.media.tumblr.com/2ef494eb5cfc95ec95e132a51087ce37/tumblr_oepj5rd2H21veol0po1_1280.jpg');
	//https://68.media.tumblr.com/73aa58e80edda0855b47b83a0be6ce95/tumblr_ods8yymYm21veol0po1_1280.jpg
	//https://68.media.tumblr.com/70c8244c885402eb59b5cc7a601326f7/tumblr_ohiux5qcgu1veol0po1_1280.jpg
	//https://68.media.tumblr.com/2ef494eb5cfc95ec95e132a51087ce37/tumblr_oepj5rd2H21veol0po1_1280.jpg
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
  	flex-direction: column;

	h1{
		text-align: center;
		color: $neutral;
		// padding-top: 40px;
		// font-size: 3em;
		// text-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	div#login-buttons{
		text-align: center;
		margin-top: 60px;
	}

}

@media all and (min-width: 600px){
	.mcdb-outer-wrap::after{
		display: none;
	}
}