.mcdb-outer-wrap{
	width: 100%;
	overflow: visible;
	height: 100vh;
	// background-color: $reddawn;
	position: relative;
}
// .mcdb-outer-wrap::after{
// 	content: '';
//   	width: 0;
//   	height: 0;
//   	border-style: solid;
//   	border-width: 0 160px 40px 0px;
//   	border-color: transparent transparent $reddawn transparent;
//   	position: absolute;
//   	top: -40px;
//   	left: 0;
// }
.full-car-wrapper{
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	position: relative;
	overflow: visible !important; 
	// background-image: ;
	background: linear-gradient(rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0)),url('https://68.media.tumblr.com/106c5227f76cf4655321ada06c6cd1cf/tumblr_ojuk865QEO1veol0po1_1280.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	background-attachment: fixed;
	display: flex;
  	flex-direction: column;

	h1{
		text-align: center;
		color: $neutral;
		padding-top: 40px;
		font-size: 3em;
		// text-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	div#login-buttons{
		text-align: center;
		margin-top: 60px;
	}

}

@media all and (min-width: 600px){
	.mcdb-outer-wrap::after{
		display: none;
	}
}