.car-display-wrap{
	/*background: $dijon;*/
	color: $cement;
	width: 100%;
	padding: 16px 0 100px 0;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
}
td, th{
	padding: 5px 2px;
	text-align: left;
}
.car-display-table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 16px;
	thead{
		// background-color: darken($bluestone, 10%);
		background-color: $dijon-rgb;
		color: $bluestone;
		th a{
			text-decoration: none;
			color: $bluestone;
			// color: $envygreen;
			font-weight: 600;
			display: inline-block;
			height: 100%;
			width: 100%;
			line-height: 30px;
		}
	}
}
.car-display-table tr.carRow:nth-of-type(odd) td{
	background-color: #515962;
}
.car-display-table td{
	text-transform: capitalize;
}
.carRow{
	td {
		a{
			text-decoration: none;
			color: $cement;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
	&:hover{
		td{
			background-color: $envygreen !important;
			cursor: pointer;
			a{
				color: $bluestone;
			}
		}
	}
}
.cell-del{
	width: 5%;
}
// .cell-bin{
// 	width: 5%;
// 	text-align: center;
// }
// .cell-num{
// 	width: 25%;
// }
// .cell-name{
// 	width: 30%;
// }
// .cell-series{
// 	width: 30%;
// }
button.remove{
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	text-indent: 1000%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 100%;
	position: relative;
}
button.remove:before{
	content: '';
	@extend .icon-delete;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 24px;
	height: 24px;
}
.view-button{
	background-color:  $envygreen;
	padding: 4px;
	color: $bluestone;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
}