
.car-display-table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 16px;
	background: $neutral;
	border-radius: 3px;

	thead{
		th a{
			text-decoration: none;
			display: inline-block;
			height: 100%;
			width: 100%;
			line-height: 30px;
			color: $yellow-light;
			font-weight: 300;
		}
	}

	td, th{
		padding: 5px 2px;
		text-align: left;
	}

	tbody{
		td{
			
		}
	}
	.carRow{
		td {
			a{
				text-decoration: none;
				color: $cement;
				height: 100%;
				width: 100%;
				display: block;
			}
		}
		&:nth-of-type(odd){
			background-color: $neutral-dark;
		}
		&:hover{
			td{
				background-color: $neutral-light;
			}
		}
	}
}


.cell-del{
	width: 5%;
}
// .cell-bin{
// 	width: 5%;
// 	text-align: center;
// }
// .cell-num{
// 	width: 25%;
// }
// .cell-name{
// 	width: 30%;
// }
// .cell-series{
// 	width: 30%;
// }
button.remove{
	width: 18px;
	height: 18px;
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	text-indent: 1000%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 100%;
	position: relative;
}
button.remove:before{
	content: '';
	@extend .icon-delete;
	background-size: 18px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 18px;
	height: 18px;
}
.view-button{
	background-color:  $envygreen;
	padding: 4px;
	// color: $bluestone;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}