.car-display-wrap{
	/*background: $dijon;*/
	color: $cement;
	width: 100%;
	padding: 16px 0 100px 0;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
}
td, th{
	padding: 5px 2px;
	text-align: left;
}
.car-display-table{
	width: 100%;
	border-collapse: collapse;
}
.car-display-table tr.carRow:nth-of-type(odd) td{
	background-color: #515962;
}
.car-display-table td{
	text-transform: capitalize;
}

.cell-del{
	width: 10%;
}
.cell-num{
	width: 20%;
}
.cell-name{
	width: 55%;
	&:hover{
		background-color: $envygreen !important;
	}
	a{
		text-decoration: none;
		color: $cement;
		height: 100%;
		width: 100%;
		display: block;

		&:hover{
			color: $bluestone;
		}
	}
}
.cell-year{
	width: 15%;
}
button.remove{
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	text-indent: 1000%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 100%;
	position: relative;
}
button.remove:before{
	content: '';
	@extend .icon-delete;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 24px;
	height: 24px;
}
.view-button{
	background-color:  $envygreen;
	padding: 4px;
	color: $bluestone;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
}