.car-display-wrap{
	/*background: #DEC956;*/
	color: #f2f2f2;
	width: 100%;
	padding: 16px 0 100px 0;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
}
td, th{
	padding: 5px 2px;
	text-align: left;
}
.car-display-table{
	width: 100%;
	border-collapse: collapse;
}
.car-display-table tr.carRow:nth-of-type(odd) td{
	background-color: #515962;
}
.car-display-table td{
	text-transform: capitalize;
}

.cell-del{
	width: 10%;
}
.cell-num{
	width: 20%;
}
.cell-name{
	width: 55%;
}
.cell-year{
	width: 15%;
}
button.remove{
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto;
	background: #FF646A;
	border: none;
	text-indent: 1000%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 100%;
	position: relative;
}
button.remove:before{
	content: 'X';
	font-family: "proxima-nova", sans-serif;
	font-weight: 900;
	color: white;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	width: 24px;
	height: 24px;
	text-indent: 0;
	
}
.view-button{
	background-color:  #27c667;
	padding: 4px;
	color: #3E4651;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
}