.car-display-wrap{
	background: #DEC956;
	width: 100%;
	padding: 16px 0 80px 0;
	max-width: 460px;
	min-width: 320px;
	margin: 0 auto;
}
td, th{
	padding: 5px 2px;
	text-align: left;
}
.car-display-table{
	width: 100%;
	border-collapse: collapse;
}
.car-display-table tr td{
	border-bottom: 1px solid #C8B54D;
}
.car-display-table,
.car-display-table tr:first-of-type td{
	border-top: 1px solid #C8B54D;
}
.car-display-table td{
	text-transform: capitalize;
}

.cell-del{
	width: 10%;
}
.cell-num{
	width: 20%;
}
.cell-name{
	width: 55%;
	text-transform: capitalize;
}
.cell-year{
	width: 15%;
}
button.remove{
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto;
	background: #FF646A;
	border: none;
	text-indent: 1000%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 100%;
	position: relative;
}
button.remove:before{
	content: 'X';
	font-family: "proxima-nova", sans-serif;
	font-weight: 900;
	color: white;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	width: 24px;
	height: 24px;
	text-indent: 0;
	
}