footer{
	width: 100%;
	color: white;
	background: $neutral;
	padding: 16px 16px 80px 16px;
	font-size: 14px;
	p{
		margin-top: 0;
	}
}
footer h1{
	font-size: 16px;
	padding-bottom: 0;
	color: $yellow-light;
	margin-bottom: 0;
}
footer ul{
	padding: 0;
	margin: 0;
}
footer ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 8px;
}
footer ul li:first-child{
	margin-left: 0;
}
footer ul li a{
	color: white;
}