footer{
	width: 100%;
	color: white;
	background: #3E4651;
	margin-top: 32px;

}
footer h1{
	font-size: 16px;
	font-weight: normal;
	color: #DEC956;
}
footer ul{
	display: inline-block;
}
footer ul li{
	list-style-type: none;
}
footer ul li a{
	color: white;
}